resources/**
books/**
*.tmp
*.csv
__pycache__/
.keras/**
*.d
*.h5
.*
wordlists/*
test_tf.py
test_keras.py
log.log
corpora/*
docs/*
old_corrections/typos.csv
old_corrections/mistakes_types.xlsx
ref/*
*.xml

t2t/**
!t2t/transformer_tiny.sh
!t2t/decode.sh
!t2t/generate_data.sh
!t2t/gec_ro
t2t/gec_ro/*
!t2t/gec_ro/__init__.py
!t2t/gec_ro/gec_ro.py
!t2t/gec_ro/decode_this_sample.txt
!t2t/set_up_colab.sh
!t2t/transformer_base_1gpu.sh

models/**
test.py
papers/*
m2scorer/**
bert/**
seq2seq/**
