resources/**
books/**
*.tmp
*.csv
__pycache__/
.keras/**
*.d
*.h5
.*
wordlists/*
test_tf.py
test_keras.py
log.log
corpora/*
ref/*
*.xml

t2t/**
!t2t/run_transformer_tiny.sh
!t2t/run_decoder.sh
!t2t/gec_ro
t2t/gec_ro/*
!t2t/gec_ro/__init__.py
!t2t/gec_ro/gec_ro.py

models/**
test.py
papers/*
m2scorer/**